body{

    margin:0;
    padding:0;

    background:#d9d9d9;

    font-family:Georgia, serif;
}

.page{

    width:95%;
    height:90vh;

    margin:20px auto;

    background:#efe4d2;

    position:relative;

    text-align:center;

    overflow:auto;
}

.banner{

    width:100%;

    background:#e5b0ad;

    margin-top:80px;

    padding:15px 0;
}

.banner h1{

    margin:0;

    font-size:60px;

    color:#2f2a44;
}

.main-btn{

    margin-top:30px;

    padding:12px 25px;

    font-size:24px;

    border:1px solid #c68e8a;

    border-radius:6px;

    background:#f8f0e7;

    color:#8a5a5a;

    cursor:pointer;
}

.form-box{

    width:50%;

    margin:50px auto;
}

input{

    width:100%;

    padding:15px;

    margin:15px 0;

    font-size:20px;

    border:none;

    border-radius:8px;
}

.question-title{

    display:inline-block;

    margin-top:30px;

    background:#e5b0ad;

    padding:10px 25px;

    border-radius:12px;

    font-size:20px;

    font-weight:bold;

    color:#2f2a44;
}

#output{

    text-align:left;

    margin:40px 100px;

    font-size:20px;

    line-height:1.8;

    color:#5a4e48;
}